@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

/*////// Kleuren: grijs #899CA0 en donkergroen #1C2B32/////*/

/*////////////////////////
    1. Global Styles
////////////////////////*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*////////////////////////
    2. Typography
////////////////////////*/

body {
    font-family: "Poppins", sans-serif;
}

/*////////////////////////
    3. Areas
////////////////////////*/



/*///////////// 3.1 Header /////////////*/

input,
button {
    font-family: inherit;
}

.header-content {
    border: 3px solid blue;
    max-width: 1000px;
    width: 100%;
    height: 400px;
    margin: 0;
    background-image: url("../assets/images/mountains.jpg");
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

.shop-title {
    border: 3px solid green;
    padding: 75px 300px 0 300px;
    font-size: 50px;
}

.shop-subtitle {
    border: 3px solid red;
    margin-top: 0; /* Adjust margin as needed */
}

.header-content button {
    margin: -1px;
    background-color: rgba(10, 10, 10, 0.67);
    color: white;
}

/*///////////// 3.2 Testimonial /////////////*/



/*///////////// 3.3 Support /////////////*/



/*///////////// 3.4 Faq /////////////*/



/*///////////// 3.5 Footer /////////////*/